<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.songyitian.glide</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D76A9D0-DF75-4519-9CAA-459094A8D5E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ECCDA93-13CE-4B0D-AFF2-F95731FE2AA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F277C82-9AA2-4285-91F5-D612081E3E73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0621BF6-0C07-4938-BD82-2F4A00CF0EB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31416915-F902-4784-817F-C29FCD1D1EA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45DC1FE9-BFE3-4E8F-B1C7-DAE871346250</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47C915EC-F2BA-412C-883F-5D16AF0EAA8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A069228A-CF2E-4272-B41E-2232A9490327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>576F7E66-421C-4F56-A34A-251891150E9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A945997-FF64-42AE-B67B-850593833916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61124F5B-9F9E-4871-BBFB-9471A01BE6FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63DD4537-D316-4FFC-84D2-AE6D499A8D22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D76A9D0-DF75-4519-9CAA-459094A8D5E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D3C901F-A71E-49B7-97A7-F3FBA9C349A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72722C97-8934-4172-B56D-70B7CF8FC60D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A97DD92-6780-4CDD-9811-22EFEFFDA4C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A97DD92-6780-4CDD-9811-22EFEFFDA4C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E69BE87-7E31-495A-94C6-F292B557DC83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FAC69DC-53F4-4035-B41E-9A19F220E75D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8378E569-EE42-4D03-821A-648E14161965</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D01BFE6-1648-490A-9A37-1552586A857F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>845C614C-0B28-43F3-965F-6E4F3D7CFC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECCDA93-13CE-4B0D-AFF2-F95731FE2AA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5DD06F1-4993-4CD1-9F63-FA48E64E35FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B6EE009-E5E3-4FFF-AE20-48AECB1A5425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D01BFE6-1648-490A-9A37-1552586A857F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90901E47-226A-41B2-AF26-1B36A8E552F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA0CC016-4A89-46D9-B836-7204E6ED037D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>926EDE07-C833-47BF-89A5-90547335D4AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98CB63D7-B73C-49DD-A17F-E21F3672ED64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ED606E1-343A-442E-9A0E-D4235D76C5C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4400DF2-DEE1-4DBD-898C-F1A9538ADCD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F867427-3F2B-4CE5-A5E7-3AAEC8290065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61124F5B-9F9E-4871-BBFB-9471A01BE6FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A069228A-CF2E-4272-B41E-2232A9490327</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4400DF2-DEE1-4DBD-898C-F1A9538ADCD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6731726-264C-49F3-841C-5FAEA884F3F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8CA253B-35AB-44B6-969E-24B9F4A35438</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA0CC016-4A89-46D9-B836-7204E6ED037D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEBB74D4-DF78-484A-8E34-FE10A20431E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B66DB665-DB32-4865-845B-6F8E0B8BB1FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF59006E-0731-4976-91F9-7DA32CACC4B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>576F7E66-421C-4F56-A34A-251891150E9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0621BF6-0C07-4938-BD82-2F4A00CF0EB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2EFF586-79FD-47FE-8C4A-393B17124614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E74BBEFE-0743-440E-86B4-52867B7A8F46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D85B137B-D72C-49FB-B1CA-4BF62F82C41F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAD72089-0779-402A-804C-BE599E32FAFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98CB63D7-B73C-49DD-A17F-E21F3672ED64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E74BBEFE-0743-440E-86B4-52867B7A8F46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Songyitian</string>
	<key>description</key>
	<string>Glide windows: maximize, size, center, halves, thirds and quarter tiles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Glide</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>window</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Resizing window…</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>actions.py</string>
				<key>subtext</key>
				<string>Maximize · Reasonable · Center · Halves · Thirds · Quarters</string>
				<key>text</key>
				<string>Glide</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B66DB665-DB32-4865-845B-6F8E0B8BB1FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>maximize</string>
				<key>subtext</key>
				<string>Fill the screen (below menu bar)</string>
				<key>text</key>
				<string>Maximize</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90901E47-226A-41B2-AF26-1B36A8E552F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reasonable</string>
				<key>subtext</key>
				<string>Two-thirds size, centered</string>
				<key>text</key>
				<string>Reasonable</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9ED606E1-343A-442E-9A0E-D4235D76C5C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>center</string>
				<key>subtext</key>
				<string>Keep size, center on screen</string>
				<key>text</key>
				<string>Center</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F277C82-9AA2-4285-91F5-D612081E3E73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>topleft</string>
				<key>subtext</key>
				<string>Top-left quarter</string>
				<key>text</key>
				<string>Top Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47C915EC-F2BA-412C-883F-5D16AF0EAA8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>topright</string>
				<key>subtext</key>
				<string>Top-right quarter</string>
				<key>text</key>
				<string>Top Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63DD4537-D316-4FFC-84D2-AE6D499A8D22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bottomleft</string>
				<key>subtext</key>
				<string>Bottom-left quarter</string>
				<key>text</key>
				<string>Bottom Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72722C97-8934-4172-B56D-70B7CF8FC60D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bottomright</string>
				<key>subtext</key>
				<string>Bottom-right quarter</string>
				<key>text</key>
				<string>Bottom Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8378E569-EE42-4D03-821A-648E14161965</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lefthalf</string>
				<key>subtext</key>
				<string>Left half of the screen</string>
				<key>text</key>
				<string>Left Half</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F867427-3F2B-4CE5-A5E7-3AAEC8290065</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>righthalf</string>
				<key>subtext</key>
				<string>Right half of the screen</string>
				<key>text</key>
				<string>Right Half</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2EFF586-79FD-47FE-8C4A-393B17124614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thirdleft</string>
				<key>subtext</key>
				<string>Left third of the screen</string>
				<key>text</key>
				<string>Left Third</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>845C614C-0B28-43F3-965F-6E4F3D7CFC87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thirdcenter</string>
				<key>subtext</key>
				<string>Center third of the screen</string>
				<key>text</key>
				<string>Center Third</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DAD72089-0779-402A-804C-BE599E32FAFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thirdright</string>
				<key>subtext</key>
				<string>Right third of the screen</string>
				<key>text</key>
				<string>Right Third</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BF59006E-0731-4976-91F9-7DA32CACC4B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>max</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AA0CC016-4A89-46D9-B836-7204E6ED037D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reasonable</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A4400DF2-DEE1-4DBD-898C-F1A9538ADCD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>center</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0621BF6-0C07-4938-BD82-2F4A00CF0EB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>tl</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A069228A-CF2E-4272-B41E-2232A9490327</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>tr</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D76A9D0-DF75-4519-9CAA-459094A8D5E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>bl</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7A97DD92-6780-4CDD-9811-22EFEFFDA4C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>br</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D01BFE6-1648-490A-9A37-1552586A857F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>lh</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>61124F5B-9F9E-4871-BBFB-9471A01BE6FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>rh</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E74BBEFE-0743-440E-86B4-52867B7A8F46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>l3</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2ECCDA93-13CE-4B0D-AFF2-F95731FE2AA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>c3</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>98CB63D7-B73C-49DD-A17F-E21F3672ED64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>r3</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>576F7E66-421C-4F56-A34A-251891150E9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>max</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8B6EE009-E5E3-4FFF-AE20-48AECB1A5425</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>reasonable</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A8CA253B-35AB-44B6-969E-24B9F4A35438</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>center</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D85B137B-D72C-49FB-B1CA-4BF62F82C41F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>tl</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A6731726-264C-49F3-841C-5FAEA884F3F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>tr</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>45DC1FE9-BFE3-4E8F-B1C7-DAE871346250</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bl</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>926EDE07-C833-47BF-89A5-90547335D4AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>br</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>31416915-F902-4784-817F-C29FCD1D1EA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>lh</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AEBB74D4-DF78-484A-8E34-FE10A20431E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>rh</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7FAC69DC-53F4-4035-B41E-9A19F220E75D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>l3</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5A945997-FF64-42AE-B67B-850593833916</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>c3</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6D3C901F-A71E-49B7-97A7-F3FBA9C349A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>r3</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7E69BE87-7E31-495A-94C6-F292B557DC83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>run.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Glide</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A5DD06F1-4993-4CD1-9F63-FA48E64E35FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Glide

Maximize, "reasonable" size (two-thirds, centered), center, half and third
tiles, and quarter tiles for the frontmost window — straight from a keyword,
or from the action list / hotkeys. Resizing is done by a small bundled engine
(Accessibility API), so every action lands exactly where the screen allows.

### Requirements

- **Alfred 5** (any recent version)
- **macOS 13+** — Intel &amp; Apple Silicon (universal engine binary)
- Alfred needs **Accessibility** permission:
  System Settings → Privacy &amp; Security → Accessibility → enable Alfred

### Install

1. Download `Glide.alfredworkflow` and double-click it to import
2. Grant Alfred **Accessibility** permission (above) if the first action
   doesn't move a window

### Usage — keywords

Type any keyword below and press ↩ — the frontmost window moves immediately:

| Keyword | Action |
| --- | --- |
| `maximize` | fill the screen (below the menu bar) |
| `reasonable` | two-thirds width &amp; height, centered |
| `center` | keep size, center on screen |
| `lefthalf` | left half of the screen |
| `righthalf` | right half of the screen |
| `thirdleft` | left third of the screen |
| `thirdcenter` | center third of the screen |
| `thirdright` | right third of the screen |
| `topleft` | top-left quarter |
| `topright` | top-right quarter |
| `bottomleft` | bottom-left quarter |
| `bottomright` | bottom-right quarter |

Also available: type **`window`** for a pickable action list, or add your
own hotkeys — every action ships with an unbound hotkey trigger
(Workflows → Glide → double-click a trigger → record keys). No shortcuts are
assigned by default, so importing never conflicts with keys you already use.

### Behaviour notes

- Moves animate smoothly (~150 ms ease-out) unless you turn the Animation
  checkbox off in Configure Workflow…, or the system Reduce Motion setting is
  on.
- Quarters are flush against the usable screen edges: below the menu bar on
  top, and — because your Dock is auto-hidden — all the way to the physical
  bottom edge. If you turn Dock auto-hide off, the bottom rows stop above the
  Dock instead.
- Some apps clamp or animate resizes (browsers, IDEs); the engine retries
  gently and lands as close as the app allows.
- Apps that block programmatic resizing entirely simply don't move.

### Notes

- **Disable Acidham's "Window Manager"** if it is installed: it claims the
  `center` / `reasonable` keywords too, and Alfred would show both.
</string>
	<key>uidata</key>
	<dict>
		<key>0D76A9D0-DF75-4519-9CAA-459094A8D5E1</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>552.0</real>
		</dict>
		<key>2ECCDA93-13CE-4B0D-AFF2-F95731FE2AA4</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>992.0</real>
		</dict>
		<key>2F277C82-9AA2-4285-91F5-D612081E3E73</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>376.0</real>
		</dict>
		<key>31416915-F902-4784-817F-C29FCD1D1EA3</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>568.0</real>
		</dict>
		<key>45DC1FE9-BFE3-4E8F-B1C7-DAE871346250</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>392.0</real>
		</dict>
		<key>47C915EC-F2BA-412C-883F-5D16AF0EAA8E</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>464.0</real>
		</dict>
		<key>576F7E66-421C-4F56-A34A-251891150E9D</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>1168.0</real>
		</dict>
		<key>5A945997-FF64-42AE-B67B-850593833916</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>832.0</real>
		</dict>
		<key>61124F5B-9F9E-4871-BBFB-9471A01BE6FD</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>816.0</real>
		</dict>
		<key>63DD4537-D316-4FFC-84D2-AE6D499A8D22</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>552.0</real>
		</dict>
		<key>6D3C901F-A71E-49B7-97A7-F3FBA9C349A9</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>920.0</real>
		</dict>
		<key>72722C97-8934-4172-B56D-70B7CF8FC60D</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>640.0</real>
		</dict>
		<key>7A97DD92-6780-4CDD-9811-22EFEFFDA4C8</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>640.0</real>
		</dict>
		<key>7E69BE87-7E31-495A-94C6-F292B557DC83</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>1008.0</real>
		</dict>
		<key>7FAC69DC-53F4-4035-B41E-9A19F220E75D</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>744.0</real>
		</dict>
		<key>8378E569-EE42-4D03-821A-648E14161965</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>728.0</real>
		</dict>
		<key>845C614C-0B28-43F3-965F-6E4F3D7CFC87</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>992.0</real>
		</dict>
		<key>89E2E5BB-67F3-4CF5-9DDF-F42F25E6541B</key>
		<dict>
			<key>xpos</key>
			<real>910.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>8B6EE009-E5E3-4FFF-AE20-48AECB1A5425</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>40.0</real>
		</dict>
		<key>8D01BFE6-1648-490A-9A37-1552586A857F</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>728.0</real>
		</dict>
		<key>90901E47-226A-41B2-AF26-1B36A8E552F5</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>200.0</real>
		</dict>
		<key>926EDE07-C833-47BF-89A5-90547335D4AF</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>480.0</real>
		</dict>
		<key>98CB63D7-B73C-49DD-A17F-E21F3672ED64</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>1080.0</real>
		</dict>
		<key>9ED606E1-343A-442E-9A0E-D4235D76C5C0</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>288.0</real>
		</dict>
		<key>9F867427-3F2B-4CE5-A5E7-3AAEC8290065</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>816.0</real>
		</dict>
		<key>A069228A-CF2E-4272-B41E-2232A9490327</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>464.0</real>
		</dict>
		<key>A4400DF2-DEE1-4DBD-898C-F1A9538ADCD5</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>288.0</real>
		</dict>
		<key>A5DD06F1-4993-4CD1-9F63-FA48E64E35FE</key>
		<dict>
			<key>xpos</key>
			<real>1200.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>A6731726-264C-49F3-841C-5FAEA884F3F6</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>304.0</real>
		</dict>
		<key>A8CA253B-35AB-44B6-969E-24B9F4A35438</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>128.0</real>
		</dict>
		<key>AA0CC016-4A89-46D9-B836-7204E6ED037D</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>200.0</real>
		</dict>
		<key>AEBB74D4-DF78-484A-8E34-FE10A20431E7</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>656.0</real>
		</dict>
		<key>B66DB665-DB32-4865-845B-6F8E0B8BB1FA</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>40.0</real>
		</dict>
		<key>BF59006E-0731-4976-91F9-7DA32CACC4B2</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>1168.0</real>
		</dict>
		<key>D0621BF6-0C07-4938-BD82-2F4A00CF0EB3</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>376.0</real>
		</dict>
		<key>D2EFF586-79FD-47FE-8C4A-393B17124614</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>904.0</real>
		</dict>
		<key>D85B137B-D72C-49FB-B1CA-4BF62F82C41F</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>216.0</real>
		</dict>
		<key>DAD72089-0779-402A-804C-BE599E32FAFD</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>1080.0</real>
		</dict>
		<key>E74BBEFE-0743-440E-86B4-52867B7A8F46</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>904.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Animate window moves (uncheck for instant snapping)</string>
			</dict>
			<key>description</key>
			<string>Smoothly animate window moves</string>
			<key>label</key>
			<string>Animation</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>animate</string>
		</dict>
	</array>
	<key>variables</key>
	<dict/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.8.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
