<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.songyitian.glide</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0844CA2E-924D-498E-85BE-57A6E8138D9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1248B795-9A3D-4CD1-B2F1-C83D179A0CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>185745FB-2C68-4859-B7E5-39B464E4E288</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23FC3DDF-8855-4004-8892-EC0CE36FA99F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDBF489A-11ED-4043-ACC1-4FEF2D03D6A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DA865DD-BB22-4738-934F-F44A4405EF4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1248B795-9A3D-4CD1-B2F1-C83D179A0CF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>568C6310-4E0D-4EBC-B052-AAE23F67BED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F4430B3-2D3A-4315-996E-E6ABA91D5261</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6392908E-AF94-4232-9181-E45FBE63B18B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>716E9E18-7F51-4E82-98EE-F850A12F153C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7670F1B9-24D9-466B-BB41-028744BD0461</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FBF2CA5-901C-448F-943B-2D8C31B561E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79EFF447-24BF-4017-9F67-BE4A9B518E0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F425B087-178E-4BD8-BC6B-D0EFF910D495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ECF55CB-49F8-4016-B756-1B72777AF7B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F351B8F-B3EA-4AE0-850F-82C6A09B268F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACBC9FBB-C561-41E5-B7BD-4929A78412A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A0B92C3-CA6F-407B-AE43-278DE19DEB70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FBF2CA5-901C-448F-943B-2D8C31B561E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90BE163D-D4A2-493B-A390-23E402254291</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>185745FB-2C68-4859-B7E5-39B464E4E288</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99916A3E-F8DF-47BB-9A17-B0FF9AC13A75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E84B1719-F2C0-4AC6-A825-498B105EF395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A67DAADE-FCBF-42A9-8A95-F260112C8362</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACBC9FBB-C561-41E5-B7BD-4929A78412A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDCBD54C-5942-4F48-B633-E5259757823E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D779B68D-1AA2-46A0-9844-C033F2C40F7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A67DAADE-FCBF-42A9-8A95-F260112C8362</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDBF489A-11ED-4043-ACC1-4FEF2D03D6A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E84B1719-F2C0-4AC6-A825-498B105EF395</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Songyitian</string>
	<key>description</key>
	<string>Glide windows: maximize, size, center and quarter tiles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Glide</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>window</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Resizing window…</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>actions.py</string>
				<key>subtext</key>
				<string>Maximize · Reasonable · Center · Quarters</string>
				<key>text</key>
				<string>Glide</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6392908E-AF94-4232-9181-E45FBE63B18B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>maximize</string>
				<key>subtext</key>
				<string>Fill the screen (below menu bar)</string>
				<key>text</key>
				<string>Maximize</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7670F1B9-24D9-466B-BB41-028744BD0461</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reasonable</string>
				<key>subtext</key>
				<string>Two-thirds size, centered</string>
				<key>text</key>
				<string>Reasonable</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F351B8F-B3EA-4AE0-850F-82C6A09B268F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>center</string>
				<key>subtext</key>
				<string>Keep size, center on screen</string>
				<key>text</key>
				<string>Center</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90BE163D-D4A2-493B-A390-23E402254291</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>topleft</string>
				<key>subtext</key>
				<string>Top-left quarter</string>
				<key>text</key>
				<string>Top Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>99916A3E-F8DF-47BB-9A17-B0FF9AC13A75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>topright</string>
				<key>subtext</key>
				<string>Top-right quarter</string>
				<key>text</key>
				<string>Top Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23FC3DDF-8855-4004-8892-EC0CE36FA99F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bottomleft</string>
				<key>subtext</key>
				<string>Bottom-left quarter</string>
				<key>text</key>
				<string>Bottom Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2DA865DD-BB22-4738-934F-F44A4405EF4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bottomright</string>
				<key>subtext</key>
				<string>Bottom-right quarter</string>
				<key>text</key>
				<string>Bottom Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D779B68D-1AA2-46A0-9844-C033F2C40F7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>max</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8FBF2CA5-901C-448F-943B-2D8C31B561E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reasonable</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ACBC9FBB-C561-41E5-B7BD-4929A78412A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>center</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>185745FB-2C68-4859-B7E5-39B464E4E288</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>tl</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E84B1719-F2C0-4AC6-A825-498B105EF395</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>tr</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DDBF489A-11ED-4043-ACC1-4FEF2D03D6A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>bl</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1248B795-9A3D-4CD1-B2F1-C83D179A0CF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>br</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A67DAADE-FCBF-42A9-8A95-F260112C8362</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>max</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BDCBD54C-5942-4F48-B633-E5259757823E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>reasonable</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5F4430B3-2D3A-4315-996E-E6ABA91D5261</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>center</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8A0B92C3-CA6F-407B-AE43-278DE19DEB70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>tl</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>568C6310-4E0D-4EBC-B052-AAE23F67BED9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>tr</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7ECF55CB-49F8-4016-B756-1B72777AF7B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bl</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>716E9E18-7F51-4E82-98EE-F850A12F153C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>br</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0844CA2E-924D-498E-85BE-57A6E8138D9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>run.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79EFF447-24BF-4017-9F67-BE4A9B518E0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Glide</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F425B087-178E-4BD8-BC6B-D0EFF910D495</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Glide

Maximize, "reasonable" size (two-thirds, centered), center, and quarter tiles
for the frontmost window — straight from a keyword, or from the action list /
hotkeys. Resizing is done by a small bundled engine (Accessibility API), so
every action lands exactly where the screen allows.

### Requirements

- **Alfred 5** (any recent version)
- **macOS 13+** — Intel &amp; Apple Silicon (universal engine binary)
- Alfred needs **Accessibility** permission:
  System Settings → Privacy &amp; Security → Accessibility → enable Alfred

### Install

1. Download `Glide.alfredworkflow` and double-click it to import
2. Grant Alfred **Accessibility** permission (above) if the first action
   doesn't move a window

### Usage — keywords

Type any keyword below and press ↩ — the frontmost window moves immediately:

| Keyword | Action |
| --- | --- |
| `maximize` | fill the screen (below the menu bar) |
| `reasonable` | two-thirds width &amp; height, centered |
| `center` | keep size, center on screen |
| `topleft` | top-left quarter |
| `topright` | top-right quarter |
| `bottomleft` | bottom-left quarter |
| `bottomright` | bottom-right quarter |

Also available: type **`window`** for a pickable action list, or add your
own hotkeys — every action ships with an unbound hotkey trigger
(Workflows → Glide → double-click a trigger → record keys). No shortcuts are
assigned by default, so importing never conflicts with keys you already use.

### Behaviour notes

- Moves animate smoothly (~150 ms ease-out) unless you turn the Animation
  checkbox off in Configure Workflow…, or the system Reduce Motion setting is
  on.
- Quarters are flush against the usable screen edges: below the menu bar on
  top, and — because your Dock is auto-hidden — all the way to the physical
  bottom edge. If you turn Dock auto-hide off, the bottom rows stop above the
  Dock instead.
- Some apps clamp or animate resizes (browsers, IDEs); the engine retries
  gently and lands as close as the app allows.
- Apps that block programmatic resizing entirely simply don't move.

### Notes

- **Disable Acidham's "Window Manager"** if it is installed: it claims the
  `center` / `reasonable` keywords too, and Alfred would show both.
</string>
	<key>uidata</key>
	<dict>
		<key>0844CA2E-924D-498E-85BE-57A6E8138D9C</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>568.0</real>
		</dict>
		<key>1248B795-9A3D-4CD1-B2F1-C83D179A0CF0</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>640.0</real>
		</dict>
		<key>185745FB-2C68-4859-B7E5-39B464E4E288</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>376.0</real>
		</dict>
		<key>23FC3DDF-8855-4004-8892-EC0CE36FA99F</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>552.0</real>
		</dict>
		<key>2DA865DD-BB22-4738-934F-F44A4405EF4B</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>640.0</real>
		</dict>
		<key>568C6310-4E0D-4EBC-B052-AAE23F67BED9</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>304.0</real>
		</dict>
		<key>5F4430B3-2D3A-4315-996E-E6ABA91D5261</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>128.0</real>
		</dict>
		<key>6392908E-AF94-4232-9181-E45FBE63B18B</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>40.0</real>
		</dict>
		<key>716E9E18-7F51-4E82-98EE-F850A12F153C</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>480.0</real>
		</dict>
		<key>7670F1B9-24D9-466B-BB41-028744BD0461</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>200.0</real>
		</dict>
		<key>79EFF447-24BF-4017-9F67-BE4A9B518E0F</key>
		<dict>
			<key>xpos</key>
			<real>910.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>7ECF55CB-49F8-4016-B756-1B72777AF7B2</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>392.0</real>
		</dict>
		<key>7F351B8F-B3EA-4AE0-850F-82C6A09B268F</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>288.0</real>
		</dict>
		<key>8A0B92C3-CA6F-407B-AE43-278DE19DEB70</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>216.0</real>
		</dict>
		<key>8FBF2CA5-901C-448F-943B-2D8C31B561E2</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>200.0</real>
		</dict>
		<key>90BE163D-D4A2-493B-A390-23E402254291</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>376.0</real>
		</dict>
		<key>99916A3E-F8DF-47BB-9A17-B0FF9AC13A75</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>464.0</real>
		</dict>
		<key>A67DAADE-FCBF-42A9-8A95-F260112C8362</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>728.0</real>
		</dict>
		<key>ACBC9FBB-C561-41E5-B7BD-4929A78412A0</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>288.0</real>
		</dict>
		<key>BDCBD54C-5942-4F48-B633-E5259757823E</key>
		<dict>
			<key>xpos</key>
			<real>620.0</real>
			<key>ypos</key>
			<real>40.0</real>
		</dict>
		<key>D779B68D-1AA2-46A0-9844-C033F2C40F7E</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>728.0</real>
		</dict>
		<key>DDBF489A-11ED-4043-ACC1-4FEF2D03D6A9</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>552.0</real>
		</dict>
		<key>E84B1719-F2C0-4AC6-A825-498B105EF395</key>
		<dict>
			<key>xpos</key>
			<real>330.0</real>
			<key>ypos</key>
			<real>464.0</real>
		</dict>
		<key>F425B087-178E-4BD8-BC6B-D0EFF910D495</key>
		<dict>
			<key>xpos</key>
			<real>1200.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Animate window moves (uncheck for instant snapping)</string>
			</dict>
			<key>description</key>
			<string>Smoothly animate window moves</string>
			<key>label</key>
			<string>Animation</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>animate</string>
		</dict>
	</array>
	<key>variables</key>
	<dict/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.7.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
