<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yitiansong.alfred.netease-music-controls</string>
	<key>category</key>
	<string>Media</string>
	<key>connections</key>
	<dict>
		<key>0D1E1140-ABBF-4390-9DD8-7F9339A4F21C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E4CCEB0-EEE8-48E9-A0A8-DB577A090670</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>717FE221-E1F6-4254-ACB1-74B51BB6A1B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21CFAA0E-06EB-4F1E-9067-6DEEC1E69941</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E508D7EF-A4EF-49D3-BEF3-B9A73F3F49A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C006175-0789-4A39-982F-9265B83AAC41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EDC97ED-8B32-427D-B3EA-ACCAF2A31E75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AAAA11C-E1C3-4E30-AA67-CEA34B56374C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C934070-5DC9-44AE-8ADA-0EB435D57E14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55F3AE36-A5CE-4CD8-8AA0-F7D655BB134F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AAAA11C-E1C3-4E30-AA67-CEA34B56374C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EDC97ED-8B32-427D-B3EA-ACCAF2A31E75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E51C805-F9BF-4435-88E0-115BD1FE18F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C934070-5DC9-44AE-8ADA-0EB435D57E14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>717FE221-E1F6-4254-ACB1-74B51BB6A1B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73F789DF-36B6-4039-9BB4-97BF907E663E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8773A804-5995-4769-9F35-42D79DE5272E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73F789DF-36B6-4039-9BB4-97BF907E663E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>888328B4-9D0E-489F-A619-78C29B424A5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D1E1140-ABBF-4390-9DD8-7F9339A4F21C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C6ED090-06E5-4C4E-A78F-6177F3AB3C16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A88AFAD9-4A05-4D91-ACF4-10322785A342</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3450D58-630F-42F7-B835-2A6D08E2EF53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A88AFAD9-4A05-4D91-ACF4-10322785A342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C69324C5-61C1-4E15-B2F5-A21068EB2DF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C6ED090-06E5-4C4E-A78F-6177F3AB3C16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E508D7EF-A4EF-49D3-BEF3-B9A73F3F49A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>NMC-NOTI</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yitiansong</string>
	<key>description</key>
	<string>Quick keyword shortcuts to control NetEase Music playback.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NetEase Music Controls</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>play</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Play / Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E51C805-F9BF-4435-88E0-115BD1FE18F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh toggle-play</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C934070-5DC9-44AE-8ADA-0EB435D57E14</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>next</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Next Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C006175-0789-4A39-982F-9265B83AAC41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh next-track</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EDC97ED-8B32-427D-B3EA-ACCAF2A31E75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prev</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Previous Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21CFAA0E-06EB-4F1E-9067-6DEEC1E69941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh previous-track</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E508D7EF-A4EF-49D3-BEF3-B9A73F3F49A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>volup</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Volume Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C69324C5-61C1-4E15-B2F5-A21068EB2DF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh turn-up-volume</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C6ED090-06E5-4C4E-A78F-6177F3AB3C16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>voldn</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Volume Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0E4CCEB0-EEE8-48E9-A0A8-DB577A090670</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh turn-down-volume</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>717FE221-E1F6-4254-ACB1-74B51BB6A1B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>like</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Like / Dislike</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8773A804-5995-4769-9F35-42D79DE5272E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh like</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73F789DF-36B6-4039-9BB4-97BF907E663E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dislike</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Dislike Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C3450D58-630F-42F7-B835-2A6D08E2EF53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh dislike</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A88AFAD9-4A05-4D91-ACF4-10322785A342</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shuffle</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Toggle Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>55F3AE36-A5CE-4CD8-8AA0-F7D655BB134F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh toggle-shuffle</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3AAAA11C-E1C3-4E30-AA67-CEA34B56374C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>repeat1</string>
				<key>subtext</key>
				<string>NetEase Music</string>
				<key>text</key>
				<string>Repeat One</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>888328B4-9D0E-489F-A619-78C29B424A5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash scripts/runner.sh repeat-one</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D1E1140-ABBF-4390-9DD8-7F9339A4F21C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>NetEase Music Controls</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>NMC-NOTI</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Direct keywords: play / next / prev / volup / voldn / like / dislike / shuffle / repeat1</string>
	<key>uidata</key>
	<dict>
		<key>0D1E1140-ABBF-4390-9DD8-7F9339A4F21C</key>
		<dict>
			<key>xpos</key>
			<real>780.0</real>
			<key>ypos</key>
			<real>350.0</real>
		</dict>
		<key>0E4CCEB0-EEE8-48E9-A0A8-DB577A090670</key>
		<dict>
			<key>xpos</key>
			<real>50.0</real>
			<key>ypos</key>
			<real>450.0</real>
		</dict>
		<key>21CFAA0E-06EB-4F1E-9067-6DEEC1E69941</key>
		<dict>
			<key>xpos</key>
			<real>50.0</real>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>2C006175-0789-4A39-982F-9265B83AAC41</key>
		<dict>
			<key>xpos</key>
			<real>50.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>3AAAA11C-E1C3-4E30-AA67-CEA34B56374C</key>
		<dict>
			<key>xpos</key>
			<real>780.0</real>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>4C934070-5DC9-44AE-8ADA-0EB435D57E14</key>
		<dict>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>50.0</real>
		</dict>
		<key>55F3AE36-A5CE-4CD8-8AA0-F7D655BB134F</key>
		<dict>
			<key>xpos</key>
			<real>550.0</real>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>5EDC97ED-8B32-427D-B3EA-ACCAF2A31E75</key>
		<dict>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>6E51C805-F9BF-4435-88E0-115BD1FE18F1</key>
		<dict>
			<key>xpos</key>
			<real>50.0</real>
			<key>ypos</key>
			<real>50.0</real>
		</dict>
		<key>717FE221-E1F6-4254-ACB1-74B51BB6A1B4</key>
		<dict>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>450.0</real>
		</dict>
		<key>73F789DF-36B6-4039-9BB4-97BF907E663E</key>
		<dict>
			<key>xpos</key>
			<real>780.0</real>
			<key>ypos</key>
			<real>50.0</real>
		</dict>
		<key>8773A804-5995-4769-9F35-42D79DE5272E</key>
		<dict>
			<key>xpos</key>
			<real>550.0</real>
			<key>ypos</key>
			<real>50.0</real>
		</dict>
		<key>888328B4-9D0E-489F-A619-78C29B424A5D</key>
		<dict>
			<key>xpos</key>
			<real>550.0</real>
			<key>ypos</key>
			<real>350.0</real>
		</dict>
		<key>9C6ED090-06E5-4C4E-A78F-6177F3AB3C16</key>
		<dict>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>350.0</real>
		</dict>
		<key>A88AFAD9-4A05-4D91-ACF4-10322785A342</key>
		<dict>
			<key>xpos</key>
			<real>780.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>C3450D58-630F-42F7-B835-2A6D08E2EF53</key>
		<dict>
			<key>xpos</key>
			<real>550.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>C69324C5-61C1-4E15-B2F5-A21068EB2DF7</key>
		<dict>
			<key>xpos</key>
			<real>50.0</real>
			<key>ypos</key>
			<real>350.0</real>
		</dict>
		<key>E508D7EF-A4EF-49D3-BEF3-B9A73F3F49A5</key>
		<dict>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>NMC-NOTI</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/yitiansong/alfred-netease-music-controls</string>
</dict>
</plist>
