<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.srq.application</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0CC5FDA2-A545-4118-B9A9-07E825331E6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>054000A0-483B-4FA1-A5F6-44C3B33C5B4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31DC8990-3565-4493-9D76-18779C233CA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A840756-A390-43A0-B147-AA891D0B1AA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67FBBD12-CF73-4F6A-A021-AFE474B96484</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F09F28C9-2931-4961-9E22-0D0F2A46CBDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B8A3B92-A4D0-4B66-8DCA-F99162778541</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D392A736-C084-452F-A658-4DC564CB1051</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77DBFD4D-99E4-4F6C-BC66-D77AFB1A27A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D0D407F-28E3-4512-BC03-6B2A323EA7C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F8DD1D7-ED39-44F6-B3C1-4ACB8280DA79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A840756-A390-43A0-B147-AA891D0B1AA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90D1ED30-0628-4C81-8E37-CD1D3D8C729D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A840756-A390-43A0-B147-AA891D0B1AA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8F0B1BC-5AC4-4705-9C49-DEDA389F7EC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19E94D06-6C9E-4A2C-A408-7102269A8C4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC07A8EC-D667-4B62-B2A3-A826D1CD124C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B82197E6-407C-412D-A7DF-0F1EC91624DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE4D5050-3FB0-4861-BE24-2E296D6B26C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>483D3913-8BB3-4E7A-8166-C8ED8349EEF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E24B9C35-8511-4409-8934-45119333B01E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>767B6A42-A181-41A0-91A1-90829F312D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9DE9791-A6D9-4DBF-9582-6B6413EB70C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F43F5A60-C111-41F4-9F58-0BFA6E67238A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>songyitian</string>
	<key>description</key>
	<string>分类管理的应用快捷键：Hyper+键启动，终端/浏览器可配置</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>application shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B8F0B1BC-5AC4-4705-9C49-DEDA389F7EC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E24B9C35-8511-4409-8934-45119333B01E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BC07A8EC-D667-4B62-B2A3-A826D1CD124C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F9DE9791-A6D9-4DBF-9582-6B6413EB70C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BE4D5050-3FB0-4861-BE24-2E296D6B26C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>77DBFD4D-99E4-4F6C-BC66-D77AFB1A27A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6B8A3B92-A4D0-4B66-8DCA-F99162778541</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>67FBBD12-CF73-4F6A-A021-AFE474B96484</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>terminal</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>90D1ED30-0628-4C81-8E37-CD1D3D8C729D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>browser</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>31DC8990-3565-4493-9D76-18779C233CA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0CC5FDA2-A545-4118-B9A9-07E825331E6A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/ChatGPT.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>19E94D06-6C9E-4A2C-A408-7102269A8C4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Claude.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>767B6A42-A181-41A0-91A1-90829F312D22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Discord.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B82197E6-407C-412D-A7DF-0F1EC91624DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F43F5A60-C111-41F4-9F58-0BFA6E67238A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>483D3913-8BB3-4E7A-8166-C8ED8349EEF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Obsidian.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9D0D407F-28E3-4512-BC03-6B2A323EA7C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Zed.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F09F28C9-2931-4961-9E22-0D0F2A46CBDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Obsidian" ~/data/note/workbook</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D392A736-C084-452F-A658-4DC564CB1051</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
  set queryText to item 1 of argv
  tell application "Easydict"
    launch
    open location "easydict://query?text=" &amp; queryText
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>054000A0-483B-4FA1-A5F6-44C3B33C5B4C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>launch.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A840756-A390-43A0-B147-AA891D0B1AA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>app</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载快捷键清单…</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>filter.py</string>
				<key>subtext</key>
				<string>每个快捷键对应什么 · 终端/浏览器可配置</string>
				<key>text</key>
				<string>application shortcuts</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F8DD1D7-ED39-44F6-B3C1-4ACB8280DA79</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## application shortcuts · v2

分类整理后的应用快捷键。每个热键只做一件事：**启动或切换**（应用在前台时
再按一次则隐藏）。

### 快捷键

| 按键 | 分类 | 打开 |
| --- | --- | --- |
| Hyper+1 | AI | ChatGPT |
| Hyper+2 | 终端 | 可配置（默认 iTerm） |
| Hyper+B | 浏览器 | 可配置（默认 Google Chrome） |
| Hyper+C | AI | Claude |
| Hyper+D | 聊天 | Discord |
| Hyper+F | 系统 | Finder |
| Hyper+M | 聊天 | WeChat |
| Hyper+N | 笔记 | Obsidian |
| Hyper+W | 笔记 | Obsidian（工作笔记 vault） |
| Hyper+Z | 开发 | Zed |
| ⌥⇧S | 查询 | Easydict（选中文本查询） |

### 配置

- **终端 / 浏览器**：Workflows → application shortcuts →
  Configure Workflow… 里的下拉框切换（iTerm / kitty / Alacritty /
  WezTerm / Ghostty / Warp / Terminal；Chrome / Safari / Arc / Edge /
  Firefox / Brave / Orion）。
- 想改某个热键：双击画布上的热键触发块重新录制即可。

### 查看

输入 `app` 查看每个快捷键对应的应用（终端/浏览器显示当前配置值），
回车直接启动。所有对象都在画布上按分类排列，没有隐藏的配置。

### 脚本说明

画布上的动作节点分三类：

1. **Launch Apps/Files 节点（7 个）**：AI / 聊天 / 笔记 / 开发 / 系统的
   固定应用，用 Alfred 内置启动器（带 toggle，无需任何权限）。
2. **launch.sh（1 个共享节点）**：终端、浏览器和 `app` 菜单的出口。
   参数协议：`terminal` → 读配置值 TERMINAL_APP；`browser` → 读
   BROWSER_APP；`&lt;应用名&gt;` → 直接启动；`&lt;应用名&gt;|&lt;路径&gt;` → 带参数启动。
   行为：目标应用在前台则隐藏（System Events），否则启动/聚焦。
3. **内联 AppleScript（2 个）**：Hyper+W 用 `open -a "Obsidian"
   ~/data/note/workbook` 打开工作笔记 vault；⌥⇧S 把选中文本拼进
   `easydict://query?text=…` 传给 Easydict。

`app` 菜单内容由 filter.py 生成（只列已配置项，不搜索全部应用）；
vault 路径、菜单文案都在源码 build_plist.py / filter.py 里，改后重新
打包即可（见仓库 ApplicationShortcuts/README.md）。
</string>
	<key>uidata</key>
	<dict>
		<key>054000A0-483B-4FA1-A5F6-44C3B33C5B4C</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1390</integer>
		</dict>
		<key>0CC5FDA2-A545-4118-B9A9-07E825331E6A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1390</integer>
		</dict>
		<key>19E94D06-6C9E-4A2C-A408-7102269A8C4F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>1A840756-A390-43A0-B147-AA891D0B1AA5</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>31DC8990-3565-4493-9D76-18779C233CA9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>483D3913-8BB3-4E7A-8166-C8ED8349EEF1</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>67FBBD12-CF73-4F6A-A021-AFE474B96484</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>6B8A3B92-A4D0-4B66-8DCA-F99162778541</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>767B6A42-A181-41A0-91A1-90829F312D22</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>77DBFD4D-99E4-4F6C-BC66-D77AFB1A27A0</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>7F8DD1D7-ED39-44F6-B3C1-4ACB8280DA79</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>90D1ED30-0628-4C81-8E37-CD1D3D8C729D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>9D0D407F-28E3-4512-BC03-6B2A323EA7C3</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>B82197E6-407C-412D-A7DF-0F1EC91624DC</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>B8F0B1BC-5AC4-4705-9C49-DEDA389F7EC5</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>BC07A8EC-D667-4B62-B2A3-A826D1CD124C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>BE4D5050-3FB0-4861-BE24-2E296D6B26C4</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>D392A736-C084-452F-A658-4DC564CB1051</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>E24B9C35-8511-4409-8934-45119333B01E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F09F28C9-2931-4961-9E22-0D0F2A46CBDE</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>F43F5A60-C111-41F4-9F58-0BFA6E67238A</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>F9DE9791-A6D9-4DBF-9582-6B6413EB70C6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>iTerm</string>
				<key>pairs</key>
				<array>
					<array>
						<string>iTerm</string>
						<string>iTerm</string>
					</array>
					<array>
						<string>kitty</string>
						<string>kitty</string>
					</array>
					<array>
						<string>Alacritty</string>
						<string>Alacritty</string>
					</array>
					<array>
						<string>WezTerm</string>
						<string>WezTerm</string>
					</array>
					<array>
						<string>Ghostty</string>
						<string>Ghostty</string>
					</array>
					<array>
						<string>Warp</string>
						<string>Warp</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>Terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Hyper+2 打开的终端</string>
			<key>label</key>
			<string>终端应用 (Hyper+2)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>TERMINAL_APP</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Safari</string>
						<string>Safari</string>
					</array>
					<array>
						<string>Arc</string>
						<string>Arc</string>
					</array>
					<array>
						<string>Microsoft Edge</string>
						<string>Microsoft Edge</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>Firefox</string>
					</array>
					<array>
						<string>Brave</string>
						<string>Brave</string>
					</array>
					<array>
						<string>Orion</string>
						<string>Orion</string>
					</array>
					<array>
						<string>Vivaldi</string>
						<string>Vivaldi</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Hyper+B 打开的浏览器</string>
			<key>label</key>
			<string>浏览器应用 (Hyper+B)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>BROWSER_APP</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>BROWSER_APP</key>
		<string>Google Chrome</string>
		<key>TERMINAL_APP</key>
		<string>iTerm</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
