<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.srq.application</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3801A22F-23C8-479A-AE82-21342DF1CECD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BDBD63-0590-4808-8E4F-731C61E85B0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E62536A-F873-4559-923F-ED2FF452A057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55983E54-646B-40C0-AF92-EF6DD34A61E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45CEBE61-E52B-4B53-882B-02338B6048BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF0F0B5F-AE75-412A-A06D-B5BBED5C6C63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5260EF01-804C-4F05-B0D9-8B9F04C4B046</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24CCB182-7C32-426B-B4A8-30F783C7B494</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>726F2B87-604E-4971-85B9-A1EFAE411575</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BDBD63-0590-4808-8E4F-731C61E85B0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>753C058E-84DF-40ED-8BF5-D3746A64EBCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3C7B211-4DDC-4AC2-9027-DF80744A392E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0857A79-62D2-4C14-950F-27340539A118</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BDBD63-0590-4808-8E4F-731C61E85B0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A69CF219-6A7E-434E-BA05-C10F48F369B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64632FDF-5571-44AF-81EA-5AB3B06B2748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A74B03CE-620E-4C6D-8785-C1FBAD6BC370</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBF05E73-1A8E-452C-AAAA-161FCD53F6DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F826B9D2-92B0-4A5F-9316-2BFCFEA1E5BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65412DEA-B7CA-438E-91CD-F23B9CB0BDFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9A734F3-DED1-44B9-84DD-9BD6821330A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81636F41-7DF7-40B9-8ACB-7B5B245751D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD72D8F8-DE07-4EEC-8C5E-F3FC1FBAB826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E70F1D4-AD32-41F3-948C-3A1173F80895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>songyitian</string>
	<key>description</key>
	<string>分类管理的应用快捷键：Hyper+键启动，终端/浏览器可配置</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>application shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>45CEBE61-E52B-4B53-882B-02338B6048BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F9A734F3-DED1-44B9-84DD-9BD6821330A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3E62536A-F873-4559-923F-ED2FF452A057</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A69CF219-6A7E-434E-BA05-C10F48F369B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>753C058E-84DF-40ED-8BF5-D3746A64EBCC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F826B9D2-92B0-4A5F-9316-2BFCFEA1E5BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FD72D8F8-DE07-4EEC-8C5E-F3FC1FBAB826</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5260EF01-804C-4F05-B0D9-8B9F04C4B046</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>terminal</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3801A22F-23C8-479A-AE82-21342DF1CECD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>browser</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A0857A79-62D2-4C14-950F-27340539A118</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A74B03CE-620E-4C6D-8785-C1FBAD6BC370</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/ChatGPT.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>DF0F0B5F-AE75-412A-A06D-B5BBED5C6C63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Claude.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>81636F41-7DF7-40B9-8ACB-7B5B245751D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Discord.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>55983E54-646B-40C0-AF92-EF6DD34A61E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>64632FDF-5571-44AF-81EA-5AB3B06B2748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>E3C7B211-4DDC-4AC2-9027-DF80744A392E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Obsidian.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>65412DEA-B7CA-438E-91CD-F23B9CB0BDFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Zed.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>24CCB182-7C32-426B-B4A8-30F783C7B494</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Obsidian" ~/data/note/workbook</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E70F1D4-AD32-41F3-948C-3A1173F80895</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
  set queryText to item 1 of argv
  tell application "Easydict"
    launch
    open location "easydict://query?text=" &amp; queryText
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBF05E73-1A8E-452C-AAAA-161FCD53F6DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>launch.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68BDBD63-0590-4808-8E4F-731C61E85B0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>app</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载快捷键清单…</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>filter.py</string>
				<key>subtext</key>
				<string>每个快捷键对应什么 · 终端/浏览器可配置</string>
				<key>text</key>
				<string>application shortcuts</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>726F2B87-604E-4971-85B9-A1EFAE411575</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## application shortcuts · v2

分类整理后的应用快捷键。每个热键只做一件事：**启动或切换**（应用在前台时
再按一次则隐藏）。

### 快捷键

| 按键 | 分类 | 打开 |
| --- | --- | --- |
| Hyper+1 | AI | ChatGPT |
| Hyper+2 | 终端 | 可配置（默认 iTerm） |
| Hyper+B | 浏览器 | 可配置（默认 Google Chrome） |
| Hyper+C | AI | Claude |
| Hyper+D | 聊天 | Discord |
| Hyper+F | 系统 | Finder |
| Hyper+M | 聊天 | WeChat |
| Hyper+N | 笔记 | Obsidian |
| Hyper+W | 笔记 | Obsidian（工作笔记 vault） |
| Hyper+Z | 开发 | Zed |
| ⌥⇧S | 查询 | Easydict（选中文本查询） |

### 配置

- **终端 / 浏览器**：Workflows → application shortcuts →
  Configure Workflow… 里的下拉框切换（iTerm / kitty / Alacritty /
  WezTerm / Ghostty / Warp / Terminal；Chrome / Safari / Arc / Edge /
  Firefox / Brave / Orion）。
- 想改某个热键：双击画布上的热键触发块重新录制即可。

### 查看

输入 `app` 查看每个快捷键对应的应用（终端/浏览器显示当前配置值），
回车直接启动。所有对象都在画布上按分类排列，没有隐藏的配置。

### 脚本说明

画布上的动作节点分三类：

1. **Launch Apps/Files 节点（7 个）**：AI / 聊天 / 笔记 / 开发 / 系统的
   固定应用，用 Alfred 内置启动器（带 toggle，无需任何权限）。
2. **launch.sh（1 个共享节点）**：终端、浏览器和 `app` 菜单的出口。
   参数协议：`terminal` → 读配置值 TERMINAL_APP；`browser` → 读
   BROWSER_APP；`&lt;应用名&gt;` → 直接启动；`&lt;应用名&gt;|&lt;路径&gt;` → 带参数启动。
   行为：目标应用在前台则隐藏（System Events），否则启动/聚焦。
3. **内联 AppleScript（2 个）**：Hyper+W 用 `open -a "Obsidian"
   ~/data/note/workbook` 打开工作笔记 vault；⌥⇧S 把选中文本拼进
   `easydict://query?text=…` 传给 Easydict。

`app` 菜单内容由 filter.py 生成（只列已配置项，不搜索全部应用）；
vault 路径、菜单文案都在源码 build_plist.py / filter.py 里，改后重新
打包即可（见仓库 ApplicationShortcuts/README.md）。
</string>
	<key>uidata</key>
	<dict>
		<key>24CCB182-7C32-426B-B4A8-30F783C7B494</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1600</integer>
		</dict>
		<key>3801A22F-23C8-479A-AE82-21342DF1CECD</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>3E62536A-F873-4559-923F-ED2FF452A057</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>45CEBE61-E52B-4B53-882B-02338B6048BC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5260EF01-804C-4F05-B0D9-8B9F04C4B046</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1600</integer>
		</dict>
		<key>55983E54-646B-40C0-AF92-EF6DD34A61E8</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>5E70F1D4-AD32-41F3-948C-3A1173F80895</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>64632FDF-5571-44AF-81EA-5AB3B06B2748</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>65412DEA-B7CA-438E-91CD-F23B9CB0BDFD</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>68BDBD63-0590-4808-8E4F-731C61E85B0D</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>726F2B87-604E-4971-85B9-A1EFAE411575</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>753C058E-84DF-40ED-8BF5-D3746A64EBCC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>81636F41-7DF7-40B9-8ACB-7B5B245751D4</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>A0857A79-62D2-4C14-950F-27340539A118</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>A69CF219-6A7E-434E-BA05-C10F48F369B6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>A74B03CE-620E-4C6D-8785-C1FBAD6BC370</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>2000</integer>
		</dict>
		<key>CBF05E73-1A8E-452C-AAAA-161FCD53F6DC</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>2000</integer>
		</dict>
		<key>DF0F0B5F-AE75-412A-A06D-B5BBED5C6C63</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E3C7B211-4DDC-4AC2-9027-DF80744A392E</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>F826B9D2-92B0-4A5F-9316-2BFCFEA1E5BE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>F9A734F3-DED1-44B9-84DD-9BD6821330A2</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>FD72D8F8-DE07-4EEC-8C5E-F3FC1FBAB826</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>iTerm</string>
				<key>pairs</key>
				<array>
					<array>
						<string>iTerm</string>
						<string>iTerm</string>
					</array>
					<array>
						<string>kitty</string>
						<string>kitty</string>
					</array>
					<array>
						<string>Alacritty</string>
						<string>Alacritty</string>
					</array>
					<array>
						<string>WezTerm</string>
						<string>WezTerm</string>
					</array>
					<array>
						<string>Ghostty</string>
						<string>Ghostty</string>
					</array>
					<array>
						<string>Warp</string>
						<string>Warp</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>Terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Hyper+2 打开的终端</string>
			<key>label</key>
			<string>终端应用 (Hyper+2)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>TERMINAL_APP</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Safari</string>
						<string>Safari</string>
					</array>
					<array>
						<string>Arc</string>
						<string>Arc</string>
					</array>
					<array>
						<string>Microsoft Edge</string>
						<string>Microsoft Edge</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>Firefox</string>
					</array>
					<array>
						<string>Brave</string>
						<string>Brave</string>
					</array>
					<array>
						<string>Orion</string>
						<string>Orion</string>
					</array>
					<array>
						<string>Vivaldi</string>
						<string>Vivaldi</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Hyper+B 打开的浏览器</string>
			<key>label</key>
			<string>浏览器应用 (Hyper+B)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>BROWSER_APP</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>BROWSER_APP</key>
		<string>Google Chrome</string>
		<key>TERMINAL_APP</key>
		<string>iTerm</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
