<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.srq.application</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1D12ADE7-DF5E-5464-B703-7C7868413F51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBFF3633-27EE-5420-BEF3-9F2C0EDB450F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3267C223-BB3F-5ECF-8FB6-1535F024AA8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>298544BA-F9F9-5564-BC32-C89518C9D925</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54B86877-4807-5F39-A3E8-DE5C55593895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35B0E051-1EE9-5C61-B77E-BE4F423C0E88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6585E3B4-3C48-52BF-AFB1-FB3EB9FAD288</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CABF7B3-9E56-5831-836C-10EB078DB8B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>839C6A7C-0EB2-5C50-9403-CB394375EE36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5057C766-6E66-57D6-90F0-DC855CD47510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B4884FF-A5C1-58B8-8D3A-F3517E710493</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6380DDA-61C5-56DE-AD64-19DA42F91073</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AD6C44C-1CFE-5955-A591-87DAF47B6F48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BB95EC4-0E79-5581-84C2-BA4046C000B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FC4FB73-435D-5ACA-8175-B499EC2F967D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED37CB61-48BD-5E12-B34F-6EE7295AFD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B77B9760-9E57-5CDB-B9A8-100894FD8248</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBFF3633-27EE-5420-BEF3-9F2C0EDB450F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB8DB8D4-0DD8-5E0E-BF12-CE3EE2347424</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBFF3633-27EE-5420-BEF3-9F2C0EDB450F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8BBB7CA-495C-57D5-9722-2B811F35F4C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56367459-8175-5440-8E28-E0FEA1E64A8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0DC86BE-C358-517C-A003-B2D845BD92ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5B4CA37-D467-59FB-B296-4CA7EC35E363</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>songyitian</string>
	<key>description</key>
	<string>分类管理的应用快捷键：Hyper+键启动，终端/浏览器可配置</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>application shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8B4884FF-A5C1-58B8-8D3A-F3517E710493</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9AD6C44C-1CFE-5955-A591-87DAF47B6F48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E8BBB7CA-495C-57D5-9722-2B811F35F4C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3267C223-BB3F-5ECF-8FB6-1535F024AA8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6585E3B4-3C48-52BF-AFB1-FB3EB9FAD288</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>839C6A7C-0EB2-5C50-9403-CB394375EE36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F0DC86BE-C358-517C-A003-B2D845BD92ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9FC4FB73-435D-5ACA-8175-B499EC2F967D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>terminal</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB8DB8D4-0DD8-5E0E-BF12-CE3EE2347424</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>browser</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D12ADE7-DF5E-5464-B703-7C7868413F51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>54B86877-4807-5F39-A3E8-DE5C55593895</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/ChatGPT.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F6380DDA-61C5-56DE-AD64-19DA42F91073</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Claude.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8BB95EC4-0E79-5581-84C2-BA4046C000B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Discord.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>56367459-8175-5440-8E28-E0FEA1E64A8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>298544BA-F9F9-5564-BC32-C89518C9D925</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8CABF7B3-9E56-5831-836C-10EB078DB8B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Obsidian.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5057C766-6E66-57D6-90F0-DC855CD47510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Zed.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>ED37CB61-48BD-5E12-B34F-6EE7295AFD64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Obsidian" ~/data/note/workbook</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5B4CA37-D467-59FB-B296-4CA7EC35E363</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
  set queryText to item 1 of argv
  tell application "Easydict"
    launch
    open location "easydict://query?text=" &amp; queryText
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35B0E051-1EE9-5C61-B77E-BE4F423C0E88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>launch.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBFF3633-27EE-5420-BEF3-9F2C0EDB450F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>app</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载快捷键清单…</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>filter.py</string>
				<key>subtext</key>
				<string>每个快捷键对应什么 · 终端/浏览器可配置</string>
				<key>text</key>
				<string>application shortcuts</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B77B9760-9E57-5CDB-B9A8-100894FD8248</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## application shortcuts · v2

分类整理后的应用快捷键。每个热键只做一件事：**启动或切换**（应用在前台时
再按一次则隐藏）。

### 快捷键

| 按键 | 分类 | 打开 |
| --- | --- | --- |
| Hyper+1 | AI | ChatGPT |
| Hyper+2 | 终端 | 可配置（默认 iTerm） |
| Hyper+B | 浏览器 | 可配置（默认 Google Chrome） |
| Hyper+C | AI | Claude |
| Hyper+D | 聊天 | Discord |
| Hyper+F | 系统 | Finder |
| Hyper+M | 聊天 | WeChat |
| Hyper+N | 笔记 | Obsidian |
| Hyper+W | 笔记 | Obsidian（工作笔记 vault） |
| Hyper+Z | 开发 | Zed |
| ⌥⇧S | 查询 | Easydict（选中文本查询） |

### 配置

- **终端 / 浏览器**：Workflows → application shortcuts →
  Configure Workflow… 里的下拉框切换（iTerm / kitty / Alacritty /
  WezTerm / Ghostty / Warp / Terminal；Chrome / Safari / Arc / Edge /
  Firefox / Brave / Orion）。
- 想改某个热键：双击画布上的热键触发块重新录制即可。

### 查看

输入 `app` 查看每个快捷键对应的应用（终端/浏览器显示当前配置值），
回车直接启动。所有对象都在画布上按分类排列，没有隐藏的配置。

### 脚本说明

画布上的动作节点分三类：

1. **Launch Apps/Files 节点（7 个）**：AI / 聊天 / 笔记 / 开发 / 系统的
   固定应用，用 Alfred 内置启动器（带 toggle，无需任何权限）。
2. **launch.sh（1 个共享节点）**：终端、浏览器和 `app` 菜单的出口。
   参数协议：`terminal` → 读配置值 TERMINAL_APP；`browser` → 读
   BROWSER_APP；`&lt;应用名&gt;` → 直接启动；`&lt;应用名&gt;|&lt;路径&gt;` → 带参数启动。
   行为：目标应用在前台则隐藏（System Events），否则启动/聚焦。
3. **内联 AppleScript（2 个）**：Hyper+W 用 `open -a "Obsidian"
   ~/data/note/workbook` 打开工作笔记 vault；⌥⇧S 把选中文本拼进
   `easydict://query?text=…` 传给 Easydict。

`app` 菜单内容由 filter.py 生成（只列已配置项，不搜索全部应用）；
vault 路径、菜单文案都在源码 build_plist.py / filter.py 里，改后重新
打包即可（见仓库 ApplicationShortcuts/README.md）。
</string>
	<key>uidata</key>
	<dict>
		<key>1D12ADE7-DF5E-5464-B703-7C7868413F51</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>298544BA-F9F9-5564-BC32-C89518C9D925</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>3267C223-BB3F-5ECF-8FB6-1535F024AA8B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>35B0E051-1EE9-5C61-B77E-BE4F423C0E88</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>2000</integer>
		</dict>
		<key>5057C766-6E66-57D6-90F0-DC855CD47510</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>54B86877-4807-5F39-A3E8-DE5C55593895</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>2000</integer>
		</dict>
		<key>56367459-8175-5440-8E28-E0FEA1E64A8F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>6585E3B4-3C48-52BF-AFB1-FB3EB9FAD288</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>839C6A7C-0EB2-5C50-9403-CB394375EE36</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>8B4884FF-A5C1-58B8-8D3A-F3517E710493</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8BB95EC4-0E79-5581-84C2-BA4046C000B9</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8CABF7B3-9E56-5831-836C-10EB078DB8B8</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>9AD6C44C-1CFE-5955-A591-87DAF47B6F48</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9FC4FB73-435D-5ACA-8175-B499EC2F967D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1600</integer>
		</dict>
		<key>B5B4CA37-D467-59FB-B296-4CA7EC35E363</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>B77B9760-9E57-5CDB-B9A8-100894FD8248</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>CB8DB8D4-0DD8-5E0E-BF12-CE3EE2347424</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>CBFF3633-27EE-5420-BEF3-9F2C0EDB450F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>E8BBB7CA-495C-57D5-9722-2B811F35F4C2</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>ED37CB61-48BD-5E12-B34F-6EE7295AFD64</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1600</integer>
		</dict>
		<key>F0DC86BE-C358-517C-A003-B2D845BD92ED</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>F6380DDA-61C5-56DE-AD64-19DA42F91073</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>iTerm</string>
				<key>pairs</key>
				<array>
					<array>
						<string>iTerm</string>
						<string>iTerm</string>
					</array>
					<array>
						<string>kitty</string>
						<string>kitty</string>
					</array>
					<array>
						<string>Alacritty</string>
						<string>Alacritty</string>
					</array>
					<array>
						<string>WezTerm</string>
						<string>WezTerm</string>
					</array>
					<array>
						<string>Ghostty</string>
						<string>Ghostty</string>
					</array>
					<array>
						<string>Warp</string>
						<string>Warp</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>Terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Hyper+2 打开的终端</string>
			<key>label</key>
			<string>终端应用 (Hyper+2)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>TERMINAL_APP</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Safari</string>
						<string>Safari</string>
					</array>
					<array>
						<string>Arc</string>
						<string>Arc</string>
					</array>
					<array>
						<string>Microsoft Edge</string>
						<string>Microsoft Edge</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>Firefox</string>
					</array>
					<array>
						<string>Brave</string>
						<string>Brave</string>
					</array>
					<array>
						<string>Orion</string>
						<string>Orion</string>
					</array>
					<array>
						<string>Vivaldi</string>
						<string>Vivaldi</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Hyper+B 打开的浏览器</string>
			<key>label</key>
			<string>浏览器应用 (Hyper+B)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>BROWSER_APP</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>BROWSER_APP</key>
		<string>Google Chrome</string>
		<key>TERMINAL_APP</key>
		<string>iTerm</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
